img{
    width: 32%;
    height: 32%;
    margin-bottom: 10px;

}

.ayaat{
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}